<table class= "table_1 table-striped_1">
    <thead class="table-dark_1">
        <th>Orden</th>
        <th>Insumo</th>
        <th>Costo</th>
        <th>Pedidos</th>
        <th>Total</th>
        <th>Recibidos</th>
        <th>Proveedor</th>
        <th>Status</th>
        <th>Recibir</th>
        
    </thead>
    <tbody>
    <% @purchase_order.po_items.each do |pi| %>
        <tr>
            <td><%= pi.purchase_order_id %></td>
            <td><%= pi.suply.descripcion %></td>
            <td><%= number_to_currency(pi.orig_cost) %></td>
            <td><%= pi.qty_ped %></td>
            <td><%= pi.ped_total %></td>
            <td><%= pi.qty_recib %></td>
            <td><%= pi.proveedor %></td>
            <td><%= pi.status %></td>
            <td><%= link_to "Recibir"  %></td>
            </td>
        </tr>
    <% end %>
    </tbody>
            
</table>