<div id="<%= dom_id purchase_order %>" >
  <h1>Orden de compra # <%= purchase_order.id %></h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="card p-3">
        <div class= "d-flex justify-content-between">
          <div>
            <strong>Fecha: </strong>
            <%= purchase_order.date.to_formatted_s(:rfc822) %>
          </div>

          <div>
            <strong>Partida:</strong>
            <%= purchase_order.budget_item.partda %>
          </div>

          <div>
            <strong>Status:</strong>
            <%= purchase_order.status %>
          </div>

          <div>
            <strong>Creada por:</strong>
            <%= purchase_order.user.username %>
          </div>

          <div>
            <strong>Spent:</strong>
            <%= number_to_currency(purchase_order.spent) %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <p></p>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class= "card p-3" >
        <h1>Artículos</h1>
        <%= render 'po_items/items_table' %>
      </div>
    </div>
  </div>
</div>
<p></p>