<div id="<%= dom_id budget_item %>">
  <p>
    <strong>Partda:</strong>
    <%= budget_item.partda %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= budget_item.descripcion %>
  </p>

  <p>
    <strong>Monto disp:</strong>
    <%= budget_item.monto_disp %>
  </p>

  <p>
    <strong>Last updated:</strong>
    <%= budget_item.last_updated %>
  </p>

  <p>
    <strong>Update type:</strong>
    <%= budget_item.update_type %>
  </p>

</div>
