<div id="<%= dom_id po_receipt %>">
  <p>
    <strong>Purchase order:</strong>
    <%= po_receipt.purchase_order_id %>
  </p>

  <p>
    <strong>Suply:</strong>
    <%= po_receipt.suply_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= po_receipt.warehouse_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= po_receipt.qty %>
  </p>

  <p>
    <strong>New cost:</strong>
    <%= po_receipt.new_cost %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= po_receipt.proveedor %>
  </p>

  <p>
    <strong>User:</strong>
    <%= po_receipt.user_id %>
  </p>

</div>
