<div class="row">
  <div class="col-lg-12">
    <div class="card p-3">
      <div class="d-flex justify-content-between">
        <div>
            <%= link_to "Recibir siministros", new_po_receipt_path, class:'btn btn-primary' %>
        </div>
        <div>
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
        <div>
            <%= search_form_for @q do |st| %>
                <%= st.label "Partida" %>
                <%= st.search_field :suply_descripcion_cont %>
                <%#= st.label "Mes" %>
                <%#= st.search_field :date_cont %>
                <%= st.submit class:'btn btn-info' %>
            <% end %>
      </div>
    </div>
  </div>
</div>
<p></p>

<table class= "table_1 table-striped_1">
    <thead class="table-dark_1">
        <th>ID</th>
        <th>Insumo</th>
        <th>Almacén</th>
        <th>Cantidad</th>
        <th>Proveedor</th>
        <th>Usuario</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    <% @po_receipts.each do |pr| %>
        <tr>
            <td><%= pr.id %></td>
            <td><%= pr.suply.descripcion %></td>
            <td><%= pr.warehouse.nombre %></td>
            <td><%= pr.qty %></td>
            <td><%= pr.proveedor %></td>
            <td><%= pr.user.username %></td>
            <td style="text-align: center"><%= link_to po_receipt_path(pr), title: 'Ver Detalle' do %>
                <i class= "fs-6 bi-eye"></i>
            <% end %>
            </td>
        <td style="text-align: center"><%= link_to edit_po_receipt_path(pr), title: 'Editar' do %>
                <i class= "fs-6 bi-pencil"></i>
            <% end %>
    <% end %>
    </tbody>
            
</table>