<p style="color: green"><%= notice %></p>

<%= render @po_receipt %>

<div>
  <%= link_to "Edit this po receipt", edit_po_receipt_path(@po_receipt), class:'btn btn-info' %> |
  <%= link_to "Back to po receipts", po_receipts_path, class:'btn btn-info' %>
<p></p>
  <%= button_to "Destroy this po receipt", @po_receipt, method: :delete, class:'btn btn-danger' %>
</div>
