
<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :suply, :label_method => lambda { |suply| "#{suply.descripcion}" } %>
    <%= f.association :warehouse, :label_method => lambda { |warehouse| "#{warehouse.nombre}" } %>
    <%= f.input :qty %>
    <%= f.input :last_updated %>
    <%= f.input :update_type, collection: Stock.update_types.keys %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
  </div>
<% end %>
