<div id="<%= dom_id stock %>">
  <p>
    <strong>Suply:</strong>
    <%= stock.suply_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= stock.warehouse_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= stock.qty %>
  </p>

  <p>
    <strong>Last updated:</strong>
    <%= stock.last_updated %>
  </p>

  <p>
    <strong>Update type:</strong>
    <%= stock.update_type %>
  </p>

</div>
