<div id="<%= dom_id stock_transfer %>">
  <p>
    <strong>Suply:</strong>
    <%= stock_transfer.suply_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= stock_transfer.qty %>
  </p>

  <p>
    <strong>Warehouse out:</strong>
    <%= stock_transfer.warehouse_out %>
  </p>

  <p>
    <strong>Warehouse in:</strong>
    <%= stock_transfer.warehouse_in %>
  </p>

  <p>
    <strong>User:</strong>
    <%= stock_transfer.user_id %>
  </p>

</div>
