
<table class="table table-stripped">
    <thead class="table-dark" >
        <th>ID</th>
        <th>Orden</th>
        <th>Insumo</th>
        <th>Costo</th>
        <th>Pedidos</th>
        <th>Subtotal</th>
        <th>Recibidos</th>
        <th>Proveedor</th>
        <th>Status</th>
        <th>Recibir</th>
        
    </thead>
    <tbody>
    <% @po_items.each do |pi| %>
        <tr>
            <td><%= pi.id %></td>
            <td><%= pi.purchase_order_id %></td>
            <td><%= pi.suply.descripcion %></td>
            <td><%= number_to_currency(pi.cost) %></td>
            <td><%= pi.qty_ped %></td>
            <td><%= number_to_currency(pi.total) %></td>
            <td><%= pi.qty_recib %></td>
            <td><%= pi.proveedor %></td>
            <td><%= pi.status %></td>
            <td><%= link_to "Recibir"  %></td>
            </td>
        </tr>
    <% end %>
    </tbody>
            
</table>