<div id="<%= dom_id po_item %>">
  <p>
    <strong>Purchase order:</strong>
    <%= po_item.purchase_order_id %>
  </p>

  <p>
    <strong>Suply:</strong>
    <%= po_item.suply_id %>
  </p>

  <p>
    <strong>Qty ped:</strong>
    <%= po_item.qty_ped %>
  </p>

  <p>
    <strong>Qty recib:</strong>
    <%= po_item.qty_recib %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= po_item.proveedor %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= po_item.cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= po_item.status %>
  </p>

</div>
