<div id="<%= dom_id school %>">
  <p>
    <strong>Cct:</strong>
    <%= school.cct %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= school.nombre %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= school.turno %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= school.nivel %>
  </p>

  <p>
    <strong>Subnivel:</strong>
    <%= school.subnivel %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= school.detalle %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= school.matricula %>
  </p>

  <p>
    <strong>Docentes:</strong>
    <%= school.docentes %>
  </p>

  <p>
    <strong>P de apoyo:</strong>
    <%= school.p_de_apoyo %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= school.calle %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= school.numero %>
  </p>

  <p>
    <strong>Entre calle:</strong>
    <%= school.entre_calle %>
  </p>

  <p>
    <strong>Y calle:</strong>
    <%= school.y_calle %>
  </p>

  <p>
    <strong>Colonia:</strong>
    <%= school.colonia %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= school.municipio %>
  </p>

  <p>
    <strong>Localidad:</strong>
    <%= school.localidad %>
  </p>

  <p>
    <strong>Ambito:</strong>
    <%= school.ambito %>
  </p>

  <p>
    <strong>Zona esc:</strong>
    <%= school.zona_esc %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= school.sector %>
  </p>

  <p>
    <strong>Latitud:</strong>
    <%= school.latitud %>
  </p>

  <p>
    <strong>Longitud:</strong>
    <%= school.longitud %>
  </p>

</div>
