<div id="<%= dom_id warehouse %>">
  <p>
    <strong>Nombre:</strong>
    <%= warehouse.nombre %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= warehouse.tipo %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= warehouse.ubicacion %>
  </p>

  <p>
    <strong>Delegacion:</strong>
    <%= warehouse.delegacion %>
  </p>

</div>
