<div id="<%= dom_id suply %>">
  <p>
    <strong>Pn:</strong>
    <%= suply.pn %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= suply.descripcion %>
  </p>

  <p>
    <strong>Presentacion:</strong>
    <%= suply.presentacion %>
  </p>

  <p>
    <strong>Partida:</strong>
    <%= suply.partida %>
  </p>

  <p>
    <strong>Costo u:</strong>
    <%= suply.costo_u %>
  </p>

</div>
