<!DOCTYPE html>
<html>
  <head>
    <title>SIME</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

<body id="page-top">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <!-- Envoltorio de todo -->
    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="sidebar d-lg-block col-md-3 col-xl-2 px-sm-2 px-0 bg-dark_1">
            <%= render 'shared/sidebar' %>
        </div>
        <div class="col py-3">
          <div class="container">
            <%= yield %>
          </div>
        </div>
    </div>
</div>
  <!-- Footer -->
   <footer class="fixed-bottom bg-dark_1">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span style="color: azure; font-size: 10px;">Copyright &copy; SEC© 2022-2027 Secretaría de Educación y Cultura del Estado de Sonora. Dirección General de Servicios Regionales, Chicago SN-C, Villas del Sol, 83240 Hermosillo, Son.</span><br />
                    <span style="color: azure; font-size: 10px;">Desarrollado por la Subdirección de Control y Gestión encargada del Programa de Mantenimiento Escolar</span>
      </div>
    </div>
   </footer>

  </body>
</html>

